


  <form ng-submit="words.addWords(newWord)">
    <input type="text" ng-model="newWord.name" ng-change="words.completeWord(newWord.name)">
    <button>Save Word</button>
    <div class="auto-complete">
      <div class="item" ng-repeat="comp in words.completions">
        <a href="/words/{{words.findByName(comp)}}.json">{{comp}}</a>
      </div>
    </div>
  </form>




