<h1>WordTemplate#index</h1>

<form ng-submit="words.addWords(newWord)">
  <input type="text" ng-model="newWord.name" ng-change="words.completeWord(newWord.name)">
  {{words.comp}}

  <div class="auto-complete">
    <div ng-repeat="comp in words.completions">{{comp}}</div>
  </div>

  <input type="text" ng-model="newWord.description">
  <button>Save Word</button>
</form>
<div class="words">
  <div ng-repeat="word in words.words">
    <a href="/words/{{word.id}}">id: {{word.id}} | {{word.name}}</a>
  </div>
</div>




